<div class="row">
	<div class="col-md-12">
		<h3><u>Test Suites Selection Page</u></h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-info" data-toggle="modal" 
      data-target="#modalCreate"
      ng-click="vm.clearParams()">
			<i class="fa fa-plus" aria-hidden="true"></i>
			Create New Test Suite
		</button>
	</div>
</div>

<Br>

<div ng-repeat="testsuite in vm.maindata.testsuites">
	<div class="case-step">
		<div class="step">
			<div class="item">
				{{$index + 1}}.
			</div>
			<div class="item">
				<div class="form-group">
					<label><small>Name:</small></label>
					<h4><a ui-sref="testsuite({ tsId: testsuite.ts_id })">{{ testsuite.ts_name }}</a></h4>
				</div>
			</div>
			<div class="item">
				<div class="form-group">
					<label><small>Num of Cases:</small></label>
					<h4>{{ testsuite.numTestCases }}</h4>
				</div>
			</div>	
			<div class="item">
				<div class="form-group">
					<label><small>Description:</small></label>
					<h4>{{ testsuite.ts_desc }}</h4>
				</div>
			</div>
		</div>
		<div class="beats-action">
			<div class="item">
				<a href="" data-toggle="modal" data-target="#modalDownload" 
          ng-click="vm.clickBeatsAction(testsuite)">
					<i class="fa fa-download" aria-hidden="true"></i>
					Download
				</a>
			</div>
			<div class="item">
				<a href="" data-toggle="modal" data-target="#modalClone" 
          ng-click="vm.clickBeatsAction(testsuite)">
					<i class="fa fa-files-o" aria-hidden="true"></i>
					Clone
				</a>
			</div>
			<div class="item">
				<a href="" data-toggle="modal" data-target="#modalDelete" 
          ng-click="vm.clickBeatsAction(testsuite)">
					<i class="fa fa-trash" aria-hidden="true"></i>
					Delete
				</a>
			</div>
		</div>
	</div>
	<hr>
</div>

<Br>

<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-info" data-toggle="modal" 
      data-target="#modalCreate"
      ng-click="vm.clearParams()">
			<i class="fa fa-plus" aria-hidden="true"></i>
			Create New Test Suite
		</button>
	</div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="modalCreate" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-plus" aria-hidden="true"></i>
        	Create a Test Suite
        </h4>
      </div>
      <form name="createTestsuiteForm">
        <div class="modal-body">
          <label>
            Test Suite Name: 
            <span class="text-danger" 
              ng-show="createTestsuiteForm.newTestSuiteName.$invalid && createTestsuiteForm.newTestSuiteName.$dirty">
              (Empty or invalid input)
            </span>
          </label>
          <input type="text" class="form-control" id="newTestSuiteName" 
            name="newTestSuiteName"
            placeholder="Enter name of your test suite here..."
            ng-model="vm.params.ts_name" required><Br>
          <label>
            Description:
            <span class="text-danger" 
              ng-show="createTestsuiteForm.newTestSuiteDesc.$invalid && createTestsuiteForm.newTestSuiteDesc.$dirty">
              (Empty or invalid input)
            </span>
          </label>
          <textarea class="form-control" id="newTestSuiteDesc" 
            name="newTestSuiteDesc"
            placeholder="Enter description of your test suite here..."
            ng-model="vm.params.ts_desc" required>    
          </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" 
            ng-click="vm.createTestsuite()" 
            ng-disabled="(createTestsuiteForm.newTestSuiteName.$dirty && createTestsuiteForm.newTestSuiteName.$invalid) || (createTestsuiteForm.newTestSuiteDesc.$dirty && createTestsuiteForm.newTestSuiteDesc.$invalid) || createTestsuiteForm.newTestSuiteName.$pristine || createTestsuiteForm.newTestSuiteDesc.$pristine">
          	<i class="fa fa-floppy-o" aria-hidden="true"></i>
          	Save New Test Suite
          </button>
        </div>
      </form>
    </div>
    
  </div>
</div>

<!-- Download Modal -->
<div class="modal fade" id="modalDownload" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-download" aria-hidden="true"></i>
        	Test Suite Download
        </h4>
      </div>
      <div class="modal-body">
      	<p>Download <b><u>{{ vm.params.ts_name }}</u></b>...</p>
        <p>What format would you like to download?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">
        	<i class="fa fa-download" aria-hidden="true"></i>
        	JSON
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
        	<i class="fa fa-download" aria-hidden="true"></i>
        	Selenium Script
        </button>
      </div>
    </div>
    
  </div>
</div>

<!-- Clone Modal -->
<div class="modal fade" id="modalClone" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-files-o" aria-hidden="true"></i>
        	Test Suite Clone
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Cloning 
          <b><u>{{ vm.params.ts_name }}</u></b>... Name of clone will be 
          <b><u>{{ vm.params.ts_name }} (copy)</u></b>
        </p>
        <p>Proceed with the Test Suite Cloning?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
        	<i class="fa fa-files-o" aria-hidden="true"></i>
        	Yes, Clone Test Suite
        </button>
      </div>
    </div>
    
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="modalDelete" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-trash" aria-hidden="true"></i>
        	Test Suite Delete
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to 
          <b><span class="text-danger">DELETE</span></b> 
          <b><u>{{ vm.params.ts_name }}</u></b>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" 
          ng-click="vm.deleteTestsuite()">
        	<i class="fa fa-trash" aria-hidden="true"></i>
        	Yes
        </button>
      </div>
    </div>
    
  </div>
</div>

<!-- CRUD Status Message Modal -->
<div class="modal fade" id="modalStatus" role="dialog">
  <div class="modal-dialog modal-sm">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Action Status
        </h4>
      </div>
      <div class="modal-body">
        <p class="text-center">{{ vm.crud_status }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>