<div class="row">
	<div class="col-md-12">
		<h3><u>Test Suites Selection Page</u></h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-success" ng-click="" data-toggle="modal" data-target="#modalCreate">
			<i class="fa fa-plus" aria-hidden="true"></i>
			Create New Test Suite
		</button>
	</div>
</div>

<Br>

<div ng-repeat="testsuite in $ctrl.main.testsuites">
	<div class="case-step">
		<div class="step">
			<div class="item">
				{{ testsuite.ts_id }}.
			</div>
			<div class="item">
				<div class="form-group">
					<label><small>Name:</small></label>
					<h4><a href="">{{ testsuite.ts_name }}</a></h4>
				</div>
			</div>
			<div class="item">
				<div class="form-group">
					<label><small>Num of Cases:</small></label>
					<h4>{{ testsuite.numTestCases }}</h4>
				</div>
			</div>	
			<div class="item">
				<div class="form-group">
					<label><small>Description:</small></label>
					<h4>{{ testsuite.ts_desc }}</h4>
				</div>
			</div>
		</div>
		<div class="beats-action">
			<div class="item">
				<a href="" data-toggle="modal" data-target="#modalDownload">
					<i class="fa fa-download" aria-hidden="true"></i>
					Download
				</a>
			</div>
			<div class="item">
				<a href="" data-toggle="modal" data-target="#modalClone">
					<i class="fa fa-files-o" aria-hidden="true"></i>
					Clone
				</a>
			</div>
			<div class="item">
				<a href="" data-toggle="modal" data-target="#modalDelete">
					<i class="fa fa-trash" aria-hidden="true"></i>
					Delete
				</a>
			</div>
		</div>
	</div>
	<hr>
</div>

<Br>

<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-success" ng-click="" data-toggle="modal" data-target="#modalCreate">
			<i class="fa fa-plus" aria-hidden="true"></i>
			Create New Test Suite
		</button>
	</div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="modalCreate" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-plus" aria-hidden="true"></i>
        	Create a Test Suite
        </h4>
      </div>
      <div class="modal-body">
        <p>What would you like to name your *NEW* Test Suite?</p>
				<input type="text" class="form-control" id="newTestSuiteName" 
					placeholder="Enter name of your test suite here...">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">
        	<i class="fa fa-floppy-o" aria-hidden="true"></i>
        	Save New Test Suite
        </button>
      </div>
    </div>
    
  </div>
</div>

<!-- Download Modal -->
<div class="modal fade" id="modalDownload" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-download" aria-hidden="true"></i>
        	Test Suite Download
        </h4>
      </div>
      <div class="modal-body">
      	<p>Download <b><u>[Name of Test Suite]</u></b>...</p>
        <p>What format would you like to download?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">
        	<i class="fa fa-download" aria-hidden="true"></i>
        	JSON
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
        	<i class="fa fa-download" aria-hidden="true"></i>
        	Selenium Script
        </button>
      </div>
    </div>
    
  </div>
</div>

<!-- Clone Modal -->
<div class="modal fade" id="modalClone" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-files-o" aria-hidden="true"></i>
        	Test Suite Clone
        </h4>
      </div>
      <div class="modal-body">
        <p>Cloning <b><u>[Name of Test Suite]</u></b>... Name of clone will be <b><u>[Name of Test Suite] (copy)</u></b></p>
        <p>Proceed with the Test Suite Cloning?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
        	<i class="fa fa-files-o" aria-hidden="true"></i>
        	Yes, Clone Test Suite
        </button>
      </div>
    </div>
    
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="modalDelete" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	<i class="fa fa-trash" aria-hidden="true"></i>
        	Test Suite Delete
        </h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to <b><span class="text-danger">DELETE</span></b> <b><u>[Name of Test Suite]</u></b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
        	<i class="fa fa-trash" aria-hidden="true"></i>
        	Yes
        </button>
      </div>
    </div>
    
  </div>
</div>