<h4>Steps</h4>
<div ng-repeat="indiv_step in vm.case_steps">
	<!-- <case-step ng-model="step"></case-step> -->
	<div class="case-step">
	    <div class="step">
	        <div class="item">
	            {{$index + 1}}.
	        </div>
	        <div class="item">
	            <div class="form-group">
	                <label>Step Name:</label>
	                <input type="text" class="form-control" ng-model="indiv_step.name">
	            </div>
	        </div>
	        <div class="item">
	            <div class="form-group">
	                <label>Action:</label>
	                <select class="form-control" ng-model="indiv_step.action" ng-change="vm.selectedAction(indiv_step)">
	                    <option>Choose action</option>
	                    <option>Click</option>
	                    <option>Write Text</option>
	                    <option>Go to URL</option>
	                    <option>Select Option</option>
	                    <option>Add Assertion</option>
	                    <option>Import Test Case</option>
	                    <option>Close Alert Box</option>
	                </select>
	            </div>
	        </div>
	        <div class="item" ng-show="indiv_step.locateElementByShow">
	        	<div class="form-group">
	        		<label>Locate Element By:</label>
	                <select class="form-control" ng-model="indiv_step.locateElementBy" ng-change="vm.selectedLocator(indiv_step)">
	                    <option>Choose locator</option>
	                    <option>Id</option>
	                    <option>Text Inside</option>
	                    <option>Name</option>
	                    <option>Class Name</option>
	                    <option>XPath</option>
	                    <option>CSS Selector</option>
	                    <option>Link Text</option>
	                    <option>Partial Link Text</option>
	                </select>
	        	</div>
	        </div>
	        <div class="item" ng-show="indiv_step.elementIdLabelShow">
	        	<div class="form-group">
	        		<label>{{indiv_step.locateElementBy}}:</label>
	                <input type="text" class="form-control" ng-model="indiv_step.elementId">
	        	</div>
	        </div>
	        <div class="item" ng-show="indiv_step.op_special_1_show">
	        	<div class="form-group">
	        		<label>{{indiv_step.op_special_1_label}}:</label>
	                <input type="text" class="form-control" ng-model="indiv_step.op_special_1_value">
	        	</div>
	        </div>
	    </div>
	    <div class="beats-action">
	        <div class="item">
	            <a href="#" ng-click="vm.walaLang(indiv_step)">Move</a>
	        </div>
	        <div class="item">
	            <a href="#" ng-click="vm.removeStep($index)">Delete</a>
	        </div>
	    </div>
	</div>
	<hr>
</div>
<!-- <case-step></case-step> -->
<div>
    <button class="btn btn-default" ng-click="vm.addStep()">Add step</button>
</div>